<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    [opened]="true"
    [mode]="'push'"
    (openedChange)="isOpen($event)"
  >

  <form [formGroup]="formulario" (ngSubmit)="adicionarTime()">
    <div class="mt-5">
      <div class="row">
        <mat-form-field class="d-flex justify-content-center col">
          <mat-label>Time</mat-label>
          <input class="text-uppercase" autocomplete="off" type="text" matInput formControlName="nome" />
        </mat-form-field>
        <mat-form-field class="d-flex justify-content-center col">
          <mat-label>Cor</mat-label>
          <input autocomplete="off" type="color" matInput formControlName="cor"/>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button
            class="btn btn-dark"
            type="submit"
            [disabled]="!formulario.valid"
          >
            {{ "Adicionar" }}
          </button>
        </div>
      </div>
    </div>
  </form>

    <div *ngIf="times.length > 0">
      <!--  -->
      <div class="mt-5 d-flex justify-content-center">
        <h2>Times:</h2>
      </div>
        <div class="quadro-times p-2 mb-4">
          <div *ngFor="let time of times" class="time d-flex justify-content-between my-2" [ngStyle]="{'border-color': time.cor}">
            <h1 class="col-9 my-auto nomeTime">{{ time.nome }}</h1>
            <span class="material-icons color-red col-3 m-auto pointer" (click)="remover(time)">
              cancel
              </span>
          </div>
        </div>
        <div class="row mt-1 px-5">
          <div class="col ">
            <button class="w-100 btn btn-success" (click)="embaralhar()">Sortear</button>
          </div>
          <div class="col">
            <button class="w-100 btn btn-info" (click)="times = []">Limpar</button>
          </div>
        </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="bg-gray">
    <div class="container mt-5">
      <brackets [(times)]="timesEmbaralhados" ></brackets>
    </div>
    <div class="seta">
      <span
        class="material-icons font-weight-bolder icon"
        (click)="sidenav.toggle()"
      >
        {{ iconChange ? "keyboard_arrow_left" : "keyboard_arrow_right" }}
      </span>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
